/* App.css */
.container {
  max-width: 800px;
  margin: 0 auto;
}
.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: #1a1a1a;
  padding: 10px;
}

.navigation a {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
}

.navigation a:hover {
  background-color: #2a2a2a;
}

.active {
  background-color: #4CAF50;
}


.card {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the percentage based on your design */
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 16px;
}

.card-content {
  color: #333;
}

.card-content h2 {
  margin-bottom: 12px;
}

.card-content p {
  color: #666;
  margin-bottom: 16px;
}

.read-more {
  display: inline-block;
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}